/* Formatting for the calcabout.html page. */
body {
    background-color: #777;
}

.panel-group {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.panel {
    border: 2px solid black;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

h1 {
    margin-left: 1em;
}

#about_program {
    border: 1em;
}