/* Formatting for the overall page. */
* {
    box-sizing: border-box;
}

body {
    background-color: #777;
}

.panel-group {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.panel {
    border: 2px solid black;
}

.panel-body {
    background-color: #333;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

.panel-heading h4 {
    float: left;
}

.panel-heading .btn-group {
    float: right;
}

#hamburger-button {
    background-color: black;
    border-color: black;
}

.col-xs-3, .col-xs-6 {
    padding: 2px;
}

/* Formatting for the display sections. */
#main-display, #accumulator-display, #operator-display, #implied-display {
    font-family: "Courier New";
    font-size: 200%;
    font-weight: bold;
    border: 2px solid darkgreen;
    text-align: right;
}

#main-display {
    background-color: #eee;
}

#accumulator-display, #operator-display, #implied-display {
    background-color: #666;
    min-height: 42px;
}

.col-xs-2 {

}

label {
    color: white;
    float: right;
    margin: 10%;
}

/* Formatting for the various buttons. */
button {
    font-size: 200%;
    border-radius: 4px;
    padding: 2px;
    width: 100%;
    min-height: 50px;
}

.clear-button {
    margin-top: 8px;
    margin-bottom: 6px;
}


