/* Formatting for the overall page. */
* {
    box-sizing: border-box;
}

body {
    background-color: #777;
}

.panel-group {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.panel {
    border: 2px solid black;
}

.panel-body {
    background-color: #333;
}

.panel > .panel-heading {
    background-color: black;
    color: white;
}

.panel-heading h4 {
    float: left;
}

.panel-heading .btn-group {
    float: right;
}

.panel-heading label {
    font-weight: normal;
}

#hamburger-button {
    background-color: black;
    border-color: black;
}

.col-xs-3, .col-xs-6 {
    padding: 2px;
}

/* Formatting for the display sections. */
#displays .col-xs-2, #displays .col-xs-10 {
    min-height: 43px;
    padding: 0;
}

#main-display, #accumulator-display, #operator-display, #implied-display {
    font-family: "Courier New", monospace;
    font-size: 200%;
    font-weight: bold;
    border: 2px solid darkgreen;
    text-align: right;
}

#main-display {
    background-color: #eee;
}

#accumulator-display, #operator-display, #implied-display {
    background-color: #666;
    min-height: 43px;
}

.panel-body label {
    color: white;
    float: right;
    margin: 10%;
}

/* Formatting for the history log display. */
.panel-footer {
    height: 150px;
    padding: 0;
    overflow-y: auto;
}

#history-log-display {
    font-family: "Courier New", monospace;
    text-align: right;
}

#history-log-display p {
    margin: 0;
}
/* Formatting for the various buttons. */
button {
    font-size: 200%;
    border-radius: 4px;
    padding: 2px;
    width: 100%;
    min-height: 50px;
}

.clear-button {
    margin-top: 8px;
    margin-bottom: 6px;
}


